.registro {
    display: flex;
    height: 90vh;
    font-family: 'Inter', sans-serif;
  }

  .container_logo{
    position: absolute;
    margin-left: 50px;
    margin-top: 20px;
    display:flex; 
    flex-direction: column;  
  }

  .container_logo2{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    margin-right: 50px;
    margin-bottom: 20px;
  }

  .vertical-text2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    writing-mode: vertical-rl; /* Hace que el texto se alinee verticalmente */
    transform: rotate(360deg); 
  }
  
  .horizontal-text2 {
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
  }
  
  .horizontal-text {
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px; /* Espacio entre las dos palabras */
  }
  
  .vertical-text {
    font-size: 20px;
    font-weight: bold;
    writing-mode: vertical-rl; /* Hace que el texto se alinee verticalmente */
    transform: rotate(180deg); /* Ajusta la orientación del texto */
  }
  

  .formulario {
    margin-top: 50px;
    align-items: center;
    width: 58%;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
 
  }
  .cambio-login {
    width: 42%;
    height: 100%;
    background-color: #4D8D31;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .Titulo{
    color: #4D8D31;
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 30px;
  }
   
.Titulo2 {
    color: #fff;
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 30px;
    width: 80%;
  }
  .indicador-paso {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
  }
  .rect-acti, .rect-inac {
    width: 80px;
    height: 8px;
    border-radius: 4px;
  }
  .rect-acti {
    background-color: #4D8D31;
  }

  .rect-inac {
    background-color: rgba(77, 141, 49, 0.5);
  }

  .instruccion {
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .inputs {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    min-height: 45vmin;
    margin-bottom: 20px;
    margin-top: 8px;
  }

.input{
  font-size: 18px;
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  background: transparent;
  outline: none;
}

  input, select {
    text-align: center;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 20px;
  }

  input::placeholder{
    color: black;
  }


  .Botones{
    display: flex;
    margin: auto;
  }

  button {
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .regresar{
    margin-left: -40px;
    margin-right: 150px;
  }

  .regresar:hover{
    text-decoration: underline;
    color: #4D8D31;
  }

  .continuar {
    width: 200px;
    align-self: center;
    background-color: #4D8D31;
    color: white;
    border-radius: 9px;
  }

.continuar:hover{
  background-color: #fff;
  color: #4D8D31;
  outline: 2px solid #4D8D31;
}

.cambio-login p {
    width: 80%;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}

.iniciar-sesion {
    width: 200px;
    background-color: white;
    color: #4D8D31;
    border-radius: 9px;
}
  
.iniciar-sesion:hover {
  background-color: #4D8D31;
  color: #fff;
  border-radius: 9px;
  outline: 2px solid #fff;
}

.input_deac{
   padding-top: 10px;
   gap: 15px;
  margin-top: 8px;
  font-size: 18px;
  text-align: center;
  border: none;
  border-bottom: 2px solid gray;
  background: rgba(146, 145, 145, 0.33);
  outline: none;
}

.CambioRol2 {
  font-size: 18px;
  position: absolute;
  background-color: #fff;
  left: 0;
  bottom: 0;
  color: #4D8D31;
  text-decoration: underline;
  margin-left: 50px;
  margin-bottom: 30px;

}

.CambioRol2:hover{
  text-decoration: none;
  font-weight: 500;
}